{% extends '_layout.html' %}

{% block title %} {{ posts[0].title }} {% endblock %}

{% block content %}

<ul class='posts'>
{%- for post in content %}
	
	<li class='post'>
		<h2 class='title'> {{ post.title }} </h2>
		<span class='cdate'> {{ post.cdate }} </span>
		<span class='mdate'> {{ post.mdate }} </span>
		<span class='content'> {{ post.content }} </span>
		<ul class='tags'>
		{%- for tag in post.tags %}
			<li class='tag'> {{ tag }} </li>
		{%- endfor %}
		</ul>

		<!-- @todo tracback here. needs spam filter. -->

		<ul class='comments'>
		{%- for comment in post.comments %}
			<li class='comment'>
				<span class='cdate'> {{ comment.cdate }} </span>
				<span class='mdate'> {{ comment.mdate }} </span>
				<span class='content'> {{ comment.content }} </span>
			</li>
		{%- endfor %}
		</ul>
	</li>

{%- endfor %}
</ul>

{% endblock %}
